body{
	background-color: #000;
	color: #283909;
	font-family: Arial, Georgia, verdana, Times, serif;

}

.container {
			width: 960px;
			margin: 0 auto;

	}

	header {
		background-color: #7E998A;
		padding-top: 5px;
		margin: 0 auto;
		background-image: url(Image/everestpanorama.jpg);
		background-repeat: no-repeat;
		background-size: 100%;


	}

	header h1 {
			text-align: center;
			margin-right: 15px;
			color: #E5001A;
			font-size: 40px;
			text-transform: uppercase;
	}

	nav {
		background-color: #ccc;
		padding: 5px;
	}

	nav ul {
		list-style-type: none;
		text-align: center;

	}

	nav ul li {
			display: inline-block;
			margin: 0 70px;
			font-size: 20px;

	}

	li a:link, li a:link, li a:active, li a:hover, li a:visited {
		color: #A33B20;
		text-decoration: none;
	}

	li a:hover{
		text-decoration: underline;
		font-weight: bold;
		color: #4062bb;
	}


main{
	background-image: url(Image/duddhar-ConvertImage.jpg);
	width: 940px;
	color: #fff;
	padding: 10px;
	margin: 0 auto;
	background-repeat: no-repeat;

}
main h2{
	text-align: center;
	color: #ff0000;
}
.up{
	margin: 10px;
	font-size: 15px;
	width: 400px;

}
.down{
	margin: 10px;
	font-size: 15px;
	width: 400px;
}
footer{
	font-size: 0.75em;
	padding: 0.5em 0;
	color: #fff;
	text-align: center;
}
article{
	width: 460px;
	float: left;
	margin: 10px;
	color: #fff;
}


.image {
    margin:20px auto;
    padding:20px;
    position:relative;
    width:700px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow:1px 1px 5px #111;
    -moz-box-shadow:1px 1px 5px #111;
    -webkit-box-shadow:1px 1px 5px #111;
}
 
/* css3 photo gallery styles */
.gallery {
    width:700px;
    margin:0 auto;
}
.gallery a {
    display:inline-block;
    height:150px;
    position:relative;
    width:200px;
}
.gallery a img {
    border:5px solid #fff;
    cursor:pointer;
    display:block;
    height:100%;
    left:0px;
    position:absolute;
    top:0px;
    width:100%;
    z-index:1;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition-property:width, height, top, bottom, left, right, z-index, border;
    -webkit-transition-duration:0.5s;
    -moz-transition-property:width, height, top, bottom, left, right, z-index, border;
    -moz-transition-duration:0.5s;
    -o-transition-property:width, height, top, bottom, left, right, z-index, border;
    -o-transition-duration:0.5s;
    transition-property:width, height, top, bottom, left, right, z-index, border;
    transition-duration:0.5s;
}
.gallery a:focus img {
    border:15px solid #fff;
    cursor:default;
    height:250%;
    position:absolute;
    width:250%;
    z-index:25;
    box-shadow:1px 1px 5px #888;
    -moz-box-shadow:1px 1px 5px #888;
    -webkit-box-shadow:1px 1px 5px #888;
    -webkit-transition-property:width, height, top, bottom, left, right, z-index, border;
    -webkit-transition-duration:0.5s;
    -moz-transition-property:width, height, top, bottom, left, right, z-index, border;
    -moz-transition-duration:0.5s;
    -o-transition-property:width, height, top, bottom, left, right, z-index, border;
    -o-transition-duration:0.5s;
    transition-property:width, height, top, bottom, left, right, z-index, border;
    transition-duration:0.5s;
}
/* custom focus rules */
.gallery a:focus:nth-child(3n+1) img {
left:150px;
}
.gallery a:focus:nth-child(3n+2) img {
    left:-50px;
}
.gallery a:focus:nth-child(3n+3) img {
    left:-250px;
}

.gallery a:focus:nth-child(-n+3) img {
    top:140px;
}
.gallery a:focus:nth-child(n+7) img {
    top:-150px;

.gallery a:focus:nth-child(n+10) img {
    top:-295px;
/* extra close layer */
.gallery .close {
    background:transparent;
    cursor:pointer;
    display:none;
    height:352px;
    left:170px;
    position:absolute;
    top:160px;
    width:500px;
    z-index:30;
}
.gallery a:focus ~ .close {
    display:block;
}
